{% extends "main/base.html" %}
{% load static %}

{% block css-includes %}
	<link rel="stylesheet" href="{% static 'main/styles/album.css' %}">
{% endblock css-includes %}



{% block content %}
	<div class="flex-container">
		<div id="filter">
			<h2>FILTER</h2>
			<input class="form-check-input" type="checkbox" id="anger-check" value="anger">
			<label class="form-check-label" for="anger-check">
				anger &#x1F620
			</label>
			<input class="form-check-input" type="checkbox" id="disgust-check" value="disgust">
			<label class="form-check-label" for="disgust-check">
				disgust &#128078
			</label>
			<input class="form-check-input" type="checkbox" id="fear-check" value="fear">
			<label class="form-check-label" for="fear-check">
				fear &#x1F631
			</label>
			<input class="form-check-input" type="checkbox" id="happiness-check" value="happiness">
			<label class="form-check-label" for="happiness-check">
				happiness &#x1F601
			</label>
			<input class="form-check-input" type="checkbox" id="neutral-check" value="neutral">
			<label class="form-check-label" for="neutral-check">
				neutral &#x1F611
			</label>
			<input class="form-check-input" type="checkbox" id="sadness-check" value="sadness">
			<label class="form-check-label" for="sadness-check">
				sadness &#x1F614
			</label>
			<input class="form-check-input" type="checkbox" id="surprise-check" value="surprise">
			<label class="form-check-label" for="surprise-check">
				surprise &#x1F62E
			</label>
		</div>
		<div class="content-container">
			<span id="initLegend">Please, wait a few seconds...</span>
			<div id="album" class="items-container">
				
			</div>
		</div>
	</div>
	<div id="moreBlock">
		<button id="moreBtn" class="btn btn-success btn-block">Load more</button>
		<span id="phNumStatus"></span>
	</div>
	<div id="updBlock">
		<a id="update" href="{% url 'update' %}" class="btn btn-danger btn-block">Update</a>
		<span>It will update photo info in DB for a minute in the background.</span>
	</div>
{% endblock content %}



{% block js-includes %}
	<!-- <script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kripken/sql.js/js/sql.js"></script> -->
	<!-- <script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kripken/sql.js/js/worker.sql.js"></script> -->
	<script src="{% static 'main/scripts/sql.js' %}"></script>
	<script src="{% static 'main/scripts/worker.sql.js' %}"></script>
	
	<script src="{% static 'main/scripts/main.js' %}"></script>
{% endblock js-includes %}
