{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Emotion_Recognition!</title>
	{% endif %}
	<link rel="shortcut icon" href="{% static 'main/img/icon.png' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'main/styles/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/styles/main.css' %}">
	

	{% block css-includes %}{% endblock css-includes %}
</head>
<body>
	<div id="header">
		<span class="logo"><a href="{% url 'index' %}">
			OlephirStyle
		</a></span>
	</div>
	{% block content %}{% endblock content %}

	<script src="{% static 'main/scripts/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'main/scripts/popper.min.js' %}"></script>
	<script src="{% static 'main/scripts/bootstrap.min.js' %}"></script>

	{% block js-includes %}{% endblock js-includes %}
</body>
</html>