/*h1 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; } span { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }*/

* {
	list-style-type: none;
	padding:0;
	margin:0;
}

*, ::after, ::before {
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
}
a:hover {
	cursor: pointer;
}

*:focus {
	outline: none;
}

body {
	height: auto;
	min-width: 620px;
	background-color: #D0D0D0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-weight: 400;
}


#header {
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	height: 100px;
	margin: 0;
	background: inherit;
	text-align: center;
}

.logo {
	float: left;
	padding: 15px 0 15px 15%;
	height: 70px;
}

.logo a {
	font-family: Broadway;
	font-size: 34px;
}


/*
.logo img:hover {
	filter: blur(1px);
}*/

#header .headline {
	display: inline-block;
	top: 50px;
	margin: 40px;
}

#header .headline .mega {
	font-size: 34px;
}

.contacts {
	float: right;
	padding: 30px 15% 30px 0;
}


#hidden-text {
	display: none;
}


#footer {
	background-color: #8C611C;
}

.foot-container {
	display: flex;
	justify-content: space-around;
	padding: 30px 100px;
}

.foot-container > div > * {
	display: block;
}

.foot-container a,
.why-we #show-text {
	color: darkblue;
}
.foot-container a:hover,
.why-we #show-text:hover {
	color: darkred;
}

#footer .img-download {
	margin-bottom: 7px;
}

#footer .img-download a {
	margin: 0 5px;
}

#footer .img-media a {
	margin: 1px;
}

#footer .img-download img {
	height: 50px;
}

#footer .img-media img {
	height: 20px;
}

#footer .img-download img:hover,
#footer .img-media img:hover {
	filter: invert(100%);
}

#footer .headline {
	font-size: 20px;
}

#footer .copy {
	display: block;
	text-align: center;
}

#footer .rates {
	display: block;
	text-align: center;
	padding: 25px 0;
}

#footer .rates a {
	color: black;
	font-size: 25px;
}

#footer .rates a:hover {
	color: #3B3B3D;
}



@media screen and (max-width: 800px) {
	#header {
		height: 95px;
	}

	.logo img {
		height: 60px;
	}
	#header span, .contacts {
		font-size: 12px;
	}
	#header .headline .mega {
		font-size: 22px;
	}
	#footer, #footer span {
		font-size: 14px;
	}
	#footer .headline {
		font-size: 16px;
	}
	#footer .img-download img {
		height: 37.5px;
	}

	#footer .img-media img {
		height: 15px;
	}
}
